Description                                                         ProcessId  

System Idle Process                                                 0          

System                                                              4          

Registry                                                            120        

smss.exe                                                            476        

csrss.exe                                                           812        

wininit.exe                                                         936        

csrss.exe                                                           960        

services.exe                                                        1020       

winlogon.exe                                                        500        

lsass.exe                                                           516        

svchost.exe                                                         1132       

fontdrvhost.exe                                                     1152       

fontdrvhost.exe                                                     1160       

svchost.exe                                                         1168       

svchost.exe                                                         1284       

svchost.exe                                                         1336       

dwm.exe                                                             1404       

svchost.exe                                                         1544       

svchost.exe                                                         1552       

svchost.exe                                                         1560       

svchost.exe                                                         1672       

svchost.exe                                                         1700       

svchost.exe                                                         1728       

svchost.exe                                                         1736       

svchost.exe                                                         1748       

svchost.exe                                                         1856       

svchost.exe                                                         1956       

svchost.exe                                                         2032       

svchost.exe                                                         1280       

svchost.exe                                                         2120       

svchost.exe                                                         2200       

svchost.exe                                                         2268       

svchost.exe                                                         2312       

svchost.exe                                                         2344       

svchost.exe                                                         2416       

NVDisplay.Container.exe                                             2484       

QMEmulatorService.exe                                               2516       

NVDisplay.Container.exe                                             2568       

atiesrxx.exe                                                        2580       

svchost.exe                                                         2616       

svchost.exe                                                         2680       

svchost.exe                                                         2716       

svchost.exe                                                         2720       

atieclxx.exe                                                        2736       

svchost.exe                                                         2816       

Memory Compression                                                  2832       

svchost.exe                                                         2888       

svchost.exe                                                         2896       

svchost.exe                                                         2924       

audiodg.exe                                                         3164       

WmiPrvSE.exe                                                        3248       

svchost.exe                                                         3432       

svchost.exe                                                         3440       

svchost.exe                                                         3584       

svchost.exe                                                         3604       

svchost.exe                                                         3732       

svchost.exe                                                         3740       

svchost.exe                                                         3780       

AsusOptimization.exe                                                3788       

spoolsv.exe                                                         4040       

svchost.exe                                                         4076       

taskhostw.exe                                                       3836       

svchost.exe                                                         4100       

svchost.exe                                                         4176       

AsusLinkNearExt.exe                                                 4236       

AsusLinkRemote.exe                                                  4244       

AsusLinkNear.exe                                                    4252       

AsusSystemAnalysis.exe                                              4264       

svchost.exe                                                         4272       

AsusSoftwareManager.exe                                             4280       

AsusSystemDiagnosis.exe                                             4288       

svchost.exe                                                         4296       

svchost.exe                                                         4304       

svchost.exe                                                         4312       

OfficeClickToRun.exe                                                4328       

Everything.exe                                                      4344       

svchost.exe                                                         4352       

svchost.exe                                                         4360       

NvTelemetryContainer.exe                                            4536       

RtkAudUService64.exe                                                4568       

RtkBtManServ.exe                                                    4576       

svchost.exe                                                         4592       

svchost.exe                                                         4704       

TeamViewer_Service.exe                                              4748       

MsMpEng.exe                                                         4760       

svchost.exe                                                         4820       

dasHost.exe                                                         5192       

svchost.exe                                                         5300       

svchost.exe                                                         5876       

svchost.exe                                                         6068       

svchost.exe                                                         4584       

NisSrv.exe                                                          6704       

svchost.exe                                                         6792       

svchost.exe                                                         6960       

svchost.exe                                                         6968       

svchost.exe                                                         7044       

AsusOptimizationStartupTask.exe                                     5564       

dllhost.exe                                                         6364       

sihost.exe                                                          2232       

svchost.exe                                                         6772       

svchost.exe                                                         2392       

taskhostw.exe                                                       7248       

svchost.exe                                                         7288       

svchost.exe                                                         7372       

ctfmon.exe                                                          7492       

svchost.exe                                                         7652       

explorer.exe                                                        7696       

svchost.exe                                                         7984       

StartMenuExperienceHost.exe                                         7620       

RuntimeBroker.exe                                                   8236       

SearchUI.exe                                                        8368       

SearchIndexer.exe                                                   8376       

RuntimeBroker.exe                                                   8584       

RuntimeBroker.exe                                                   9828       

SecurityHealthSystray.exe                                           9952       

SecurityHealthService.exe                                           9984       

RtkAudUService64.exe                                                9516       

ShellExperienceHost.exe                                             1068       

RuntimeBroker.exe                                                   2260       

SettingSyncHost.exe                                                 8852       

dllhost.exe                                                         7904       

svchost.exe                                                         8580       

svchost.exe                                                         1296       

AsusOSD.exe                                                         1984       

svchost.exe                                                         9660       

svchost.exe                                                         2168       

WmiPrvSE.exe                                                        4452       

AsusSoftwareManagerAgent.exe                                        6076       

svchost.exe                                                         6352       

svchost.exe                                                         6720       

SgrmBroker.exe                                                      1180       

svchost.exe                                                         8968       

svchost.exe                                                         2756       

svchost.exe                                                         2324       

opera.exe                                                           11008      

opera_crashreporter.exe                                             11032      

opera.exe                                                           11176      

opera.exe                                                           11196      

opera.exe                                                           10628      

opera.exe                                                           2136       

opera.exe                                                           10060      

opera.exe                                                           1764       

opera.exe                                                           2020       

opera.exe                                                           7576       

opera.exe                                                           1468       

opera.exe                                                           8908       

opera.exe                                                           7096       

svchost.exe                                                         11560      

svchost.exe                                                         11636      

opera.exe                                                           11660      

unsecapp.exe                                                        13280      

Code.exe                                                            9124       

Code.exe                                                            10232      

Code.exe                                                            10260      

Code.exe                                                            9804       

Code.exe                                                            4524       

conhost.exe                                                         5504       

cmd.exe                                                             12488      

Code.exe                                                            8144       

CodeHelper.exe                                                      3672       

conhost.exe                                                         6084       

opera.exe                                                           988        

Code.exe                                                            3316       

svchost.exe                                                         3760       

Code.exe                                                            11952      

python.exe                                                          1720       

conhost.exe                                                         12844      

WindowsInternal.ComposableShell.Experiences.TextInput.InputApp.exe  9724       

Code.exe                                                            1448       

conhost.exe                                                         4600       

cmd.exe                                                             4980       

opera.exe                                                           10968      

opera.exe                                                           12188      

ApplicationFrameHost.exe                                            6480       

opera.exe                                                           6900       

SearchProtocolHost.exe                                              13036      

python.exe                                                          10748      

conhost.exe                                                         2296       

smartscreen.exe                                                     3004       

py.exe                                                              1436       

conhost.exe                                                         12516      

python.exe                                                          10092      

opera.exe                                                           3916       

python.exe                                                          10500      

opera.exe                                                           2368       

SearchFilterHost.exe                                                12544      

python.exe                                                          11988      

chrome.exe                                                          12916      

chrome.exe                                                          6740       

chrome.exe                                                          2304       

chrome.exe                                                          12416      

chrome.exe                                                          11420      

chrome.exe                                                          10960      

chrome.exe                                                          3808       

chrome.exe                                                          2752       

chrome.exe                                                          11772      

chrome.exe                                                          8344       

chrome.exe                                                          11892      

chrome.exe                                                          7788       

cmd.exe                                                             9492       

WMIC.exe                                                            10804      



